@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura.ttc");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Futura-Bold";
  src: url("/fonts/FuturaStd-Heavy.otf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

html,
body {
  padding: 0;
  background: black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div,
h1,
h2,
h3 {
  font-family: Futura;
}
